
.cabecera{
    background-color: #000018;
    display: grid; 
    grid-template-columns: 25% 75% ; 
    padding-left: 3.5%;  
}

.botones_inicio{
    place-items: center;
}



button.boton_inicio{
    font-family:Arial, Helvetica, sans-serif;
    border-style:solid;
    border: none;
    border-radius: 15px;
    width: 120px;
    height: 37px;
    cursor: pointer;
}

.miNavbar{
    background-color:#000018;
    padding: 0%;
}

.contenedor_nav{
    background-color:#000018;
    color: azure;
    margin:0%;
}

#secciones{
    color: azure;
}

#boton_inicio{
    padding-top: 10px;
  border-radius: 25px;
  text-decoration: none;
  color: whitesmoke;
  background-color: #DDAE64;
  padding: 10px 20px;
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  border: none;
}

#boton_inicio:hover{
    background-color: #c2821c;
}