.menu {
    background-color: #DDAE64;
    color: azure;
    display: flex;
    flex-direction: column;
  }
  
  #titulo {
    text-align: left;
    height: 40px;
    padding: 10px;
  }
  
  .nav-pills {
    padding: 10px;
  }
  
  .nav-link {
    color: azure;
    font-size: large;
  }
  
  .nav-link:hover {
    color: #0f0f29;
  }
  
  .botones_menu {
    text-align: right;
  }
  
  @media (min-width: 768px) {
    .menu {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .nav-pills {
      display: flex;
      justify-content: flex-end;
      margin: 0;
    }
  }
  