.menu{
    font-size: large;
    background-color:#DDAE64;
    color:azure;
    display: grid;
    grid-template-columns: 25% 75% ;
    padding-left: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#titulo{
    text-align: left;
    height: 40px;
}

.botones_menu{
    text-align: right;
}

a.nav-link{
    color: azure;
    font-size: large;
}

a.nav-link:hover{
    color: #0f0f29;;
}

.botones{
    padding: 0%;
    width: 150px;
    height: 50px;
    place-items: center;
    border-radius: 25px;
    text-decoration: none;
    color: whitesmoke;
    background-color:#DDAE64;
    text-align: center;
    border: none;
}

.botones:hover{
    background-color: #c2821c;
}