.pie{
    margin-top: 2%;
    padding: 2.5%;
    padding-bottom: 1%;
    background-color:#DDAE64; ;
}

.icono{
    width: 50px;
}

.politicos{
    margin-top: 4%;
    color: azure;
    text-align: center;
}

.Fin{
    color: azure;
}